.shipping {
    @include flex;

    .back-btn{
        @include square(2.5rem);
        background-color:transparent;
        color: black;
        @include flex;
        position: fixed;
        top: 2rem;
        left: 2rem;
        border-radius: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        @include baseShadow;



        svg{
            transition: all 0.3s;

        }

        &:hover{
            translate: -0.25rem;

        }
    }
    >form{
        max-width: 450px;
        width: 100%;
        @include flex(column,center, stretch, 2rem);
        padding: 2rem;
        >h1{
            @include heading(2px);
            margin: 2rem;
            text-align: center;
    
    }
    >input,
    >select{
        
        border: 1px solid rgba(31, 31, 31, 0.942);  
    padding: 1rem;
    outline: none;
        font-size: 1.05rem;
        border-radius:1 5px;


    }
    >button{
        background-color: #007bff;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    
    &:hover {
        background-color: #0056b3;}
    }
}
}